* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  grid-template-columns: 30% 40% 30%;
  background-color: #f7fbfc;
  width: 100vw;
  height: 100vh;
}
.reg {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #ffff;
  padding: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
#response {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 15px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-size: 1rem;
}
.content input{
    height: 25px;
}
h2 {
}

#response button {
  height: 30px;
  border: none;
  font-size: 1.1rem;
  font-weight: lighter;
  border-radius: 10px;
  background: #046ebe;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 10px;
}
#response button:hover{
  box-shadow: none;
}
a {
  text-decoration: none;
  color: #013e48;
  transition: all 1s;
}

a:hover {
  color: #999999;
}
